<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TiendaOctavius</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <!-- ENCABEZADO -->
        <header th:replace="~{layout/plantilla :: header}"></header>

        <!-- FRAGMENTO PARA EDITAR CATEGORÍA -->
        <section th:replace="~{categoria/fragmentos :: editarCategoria}"></section>

        <!-- PIE DE PÁGINA -->
        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>
