<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TiendaOctavius</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <!-- Encabezado -->
        <header th:replace="~{layout/plantilla :: header}"></header>
        
        <!-- Botón "Agregar Producto" (fragmento) -->
        <section th:replace="~{producto/fragmentos :: btnAgregar}"></section>
        
        <!-- Modal "Agregar Producto" (fragmento) -->
        <section th:replace="~{producto/fragmentos :: agregarProducto}"></section>
        
        <!-- Listado de productos (fragmento) -->
        <section th:replace="~{producto/fragmentos :: listado}"></section>

        <!-- Pie de página -->
        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>
